/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
/* General styles */
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

/* Header */
header{
    background: #FFFFFF;
    padding: 0 1rem;
    position: fixed;
    z-index: 99; /* remain above other elements*/
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a; /* adds shadow under nav. val1 = horizontal val 2 = verticl val 3=blur */
    display: flex; /* make sure toggle is nex to logo*/
    justify-content: space-between; /* create space bnetween logo and togggle*/
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit; /* remove default link colour. uses body text colour instead */
}

h1{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}
#menu > li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toddle */
nav{
    position: absolute;
    background: #FFFFFF;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%; /* nav elements should start at the bottom (initial top +100%) of the parent element - the header*/
}
/* Nav toggle */
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none; /*hide checkbox as clicling label clicks the box*/
}

.nav-toggle-label{ 
    font-size: 2rem;
}

/* Main */
main{
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer{
    background-color: orange;

}