/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
/* General styles */
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

/* Header */
header{
    background: #FFFFFF;
    padding: 0 1rem;
    position: fixed;
    z-index: 99; /* remain above other elements*/
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a; /* adds shadow under nav. val1 = horizontal val 2 = verticl val 3=blur */
    display: flex; /* make sure toggle is nex to logo*/
    justify-content: space-between; /* create space bnetween logo and togggle*/
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit; /* remove default link colour. uses body text colour instead */
}

h1{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}
#menu > li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toddle */
nav{
    position: absolute;
    background: #FFFFFF;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%; /* nav elements should start at the bottom (initial top +100%) of the parent element - the header*/
}
/* Nav toggle */
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none; /*hide checkbox as clicling label clicks the box*/
}

.nav-toggle-label{ 
    font-size: 2rem;
}

/* Main content */
main{
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px; /*make up for the space covered by header*/
}

/* Hero Section */
#hero{
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
}


/* Footer */
#social-networks{ 
    text-align: center; 
    padding: 20px 0; 
    display: flex ; 
    justify-content: space-evenly; 
    list-style-type: none; 
} 

#social-networks i{ 
    font-size: 160%; 
    padding: 5%; 
    color: #3a3a3a; 
} 


/* Media query: tablets and larger (768px and up*/
@media  screen and (min-width: 768px) {
    /*Header*/
    nav{
        display: block; /* show nav  (inplace of none)*/
        position: relative; /* put nav back in header (in place of absolute) */
        box-shadow: none;
        width: fit-content; /*no longer takes full width > flex can position them on the right */
        padding-right: 1rem;
    }
    
    #menu{
        display: flex; /* puts nav bar items in row*/
    }

    #menu > li{
        padding-left: 1rem; /* gives each item a gap*/
    }

    .nav-toggle-label{
        display: none;
    }

    #logo{
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main Content*/
    main{
        /* Push amin content down to accoimodate larger header*/
        margin-top: 79px;
    }
}

@media screen and ( min-width: 992px){
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}